// MEDIA QUERY MANAGER 

/*
    Ranges (Desktop First):

    0 - 600px: Phone
    600 - 900px: Tablet Portrait
    900 - 1200px: Tablet Portrait
    [1200 - 1800px]: Normal Styles
    1800px + : Big Desktop
*/

/* 
Breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - normal
    - big-desktop

Usage:
@include respond(<argument>) {
    <content>
}

Recall, 1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px / 16px = 37.5em
        // @media (max-width: 47.75em) { @content }; // 764px / 16px = 47.75em
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; // 900px / 16px = 56.25em
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; // 1200px / 16px = 75em
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; // 1800px / 16px = 112.5em
    }
    @if $breakpoint == normal {
        @content
    }
}